
/* gallery */

#gallery {
  padding-top: 40px;
  padding-bottom: 40px;
  @mixin atSmall {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-wrapper {
  position: relative;
  margin: 5px;
  width: 220px;
  height: 150px;
  cursor: pointer;

}
.img-responsive {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  i {
    color: #fff;
    font-size: 3em;
  }
}

#overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  -webkit-user-select: none;
  -moz-user-select: none;    
  -ms-user-select: none; 
  user-select: none; 
  img {
    margin: 0;
    width: 80%;
    height: auto;
    object-fit: contain;
    padding: 5%;
    @media screen and (min-width:768px) {
        width: 60%;
    }
    @media screen and (min-width:1200px) {
        width: 50%;
    }
  }
}

#nextButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
  @media screen and (min-width:768px) {
    font-size: 2em;
  }
}

#prevButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
  @media screen and (min-width:768px) {
    font-size: 2em;
  }
}

#exitButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
  @media screen and (min-width:768px) {
    font-size: 2em;
  }
}

@mixin atSmall {
  .only_mobile {
    display: none;
  }
 }

@mixin atXSmall {
  .only_desktop {
    display: none;
  }
}

