.main-about-us {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    &--title {
        padding-bottom: 15px;
        color: #d0ad00;
        text-align: center;
    }
}

.about-us-main {
    padding-top: 40px;
    padding-bottom: 40px;
    @mixin atSmall {
        padding-top: 60px;
        padding-bottom: 80px;    
    }
}

.main-about-us--point {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: black;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    @mixin atSmall {
        font-size: 16px;
    }

    &--img {
        margin-bottom: 10px;
        width: 20px;
        height: auto;
    }

}

.main-about-us--button {
    margin-top: 20px;
    display: inline-block;
    min-width: 200px;
    padding: .7rem 2.77778rem;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    border: 1px solid hsla(0,0%,7%,0);
    background-color: #111;
    cursor: pointer;
    @mixin atSmall {
        font-size: 14px;
        min-width: 258px;
    }
}

.button-container {
    text-align: center;
}

.about-us {
    padding-top: 60px;
    padding-bottom: 60px;

    &--description {
        text-align: center;
    }

    &--img {

    }
    &--dyplomy {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}