.banner {
    background-color: #FFF;
    padding: 100px 0 40px 0;
    position: relative;
    @mixin atSmall {
      padding: 180px 0 100px 0;
    }
  
    &__content {
      position: relative;
      z-index: 2;
    }
  
    &__title {
      font-weight: 400;
      font-size: 2.5rem;
      font-style: italic;
      margin: 0 0 1rem 0;
      color: #bea064;
      @mixin atSmall {
        font-size: 3.6rem;
      }
    }
  
    &__bg-image {
      opacity: .83;
      background-size: cover;
      background-color: #EDEDED;
      @mixin atSmall {
        background-position: center;
      }
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  
    &__intro {
      font-weight: 300;
      font-size: 1.2rem;
      line-height: 1.3;
      color: #EDEDED;
      @mixin atSmall {
        font-size: 1.65rem;
      }
    }
  
    &__intro p {
      margin: 0;
    }
  }
  