.contact-page {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
    @mixin atSmall {
        width:45% !important;
    }
    &--description {
        
    }
    
    p {
        margin: 0px !important;
    }

}

.form-control,
.area-control {
    position: relative;
    font-size: 1rem;
    border: 1px solid hsla(0,0%,7%,.15);
    transition: all .3s;
    padding: .61111rem;
    margin-bottom: 0;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    line-height: 1.5;
    color: #111;
    height:50px !important;
}
.area-control {
    height: 220px !important;
}

.form-button {
    margin-top: 20px;
    display: inline-block;
    min-width: 258px;
    padding: .7rem 2.77778rem;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    border: 1px solid hsla(0,0%,7%,0);
    background-color: #111;
    cursor: pointer;
}
label {
    width:100%;
    height: 60px;
}

.wpcf7-spinner {
    margin: 0px !important;
    width: 0px !important;
}