.slider-container {
  background-color: black;
}
.hero-slider {
    font-family: 'Open Sans', sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;
    @mixin atSmall {
      padding-top: 80px;
      padding-bottom: 80px;
    }
      &__interior {
        padding-top: 30px;
        padding-bottom: 30px;
    
        @mixin atMedium {
          padding-top: 60px;
          padding-bottom: 60px;
        }
      }
    
      &__slide {
        text-align: center;
      }
  
      &__title {
          font-size: 24px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 1%;
          padding-bottom: 30px;
      }
    
      &__description {
        color: #fff;
        list-style: none;
      }
    
      &__overlay {
        margin: 0 auto;
        background-color: rgba(255, 255, 255, .68);
        padding: 40px;
        color: #000;
        text-align: center;
        @mixin atMedium {
          width: 100%;
          padding: 80px;
        }
      }
  
      &--img {
        width: 20px;
        height: auto;
        margin-left: 10px;
      }
  
    .hero-slider__box {
        list-style: none;
        margin: 0;
        cursor: pointer;
        margin-right:20px;
        &--small {
          border: 1px #bea064 solid;
          padding-top: 20px;
          padding-bottom: 20px;
          @mixin atSmall {
            padding-top: 40px;
            padding-bottom: 40px;
          }
        } 
        &--big {
            border: 2px hsla(0,0%,100%,.15) solid;
            padding-top: 40px;
            padding-bottom: 40px;
            @mixin atSmall {
              padding-top: 60px;
              padding-bottom: 60px;
            }
        }
  
        &--min {
          font-size: 50px;
          font-weight: 800;
          color: transparent;
          line-height: .8;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: #000;
          @mixin atMedium { 
              font-size: 80px;
          }
        }
        &--description {
          font-size: 12px;
          line-height: 18px;
          font-weight: 300;
          letter-spacing: 4.5px;
          color: #fff;
          display: inline-block;
          @mixin atMedium { 
              font-size: 14px;
          }
        }
    }
    .hero-slider__description {
      color: #fff;
      padding-top: 10px;
      font-size: 14px;
      @mixin atSmall {
        font-size: 18px;
      }
    }
  }
  
  .glide {
  
    &__arrow {
      width: 2.875rem;
      height: 2.875rem;
      position: absolute;
      left: auto;
      right: auto;
      border-radius: 50%;
      border-color: #000;
      color: #e5c100;
      z-index: 2;
      border: 2px solid rgba(255, 255, 255, 0.5);
      background-color: transparent;
      cursor: pointer;
      box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  
  
      &:focus {
              outline: none;
      }
      &--left {
        position:relative;
        left: 0px;
  
        @mixin atSmall { 
          left: -15px;
        }
      }
      &--right {
        position: absolute;
        right: 0px;

        @mixin atSmall { 
          right: -15px;
        }
          }
    }
  }
  .glide__arrows {
    position:relative;
    right: 0;
    bottom: -6rem;
    @mixin atSmall { 
      bottom: -5rem;
    }
   }
  