.main-navigation {
  padding-top: 2px;
  align-items: center;
  justify-content: center;

  ul {
    padding: 0;
    margin: 0;
  }

  ul:before,
  ul:after {
    content: " ";
    display: table;
  }

  ul:after {
    clear: both;
  }

  @mixin atMedium {
    float: left;
    margin-right: 20px;
  }
}

.main-navigation li {
  list-style: none;

  @mixin atMedium {
    float: left;
    padding-left: 20px;
  }
}

.main-navigation a {
  display: block;
  padding: 10px 10px;
  color: #FFF;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;
  @mixin atMedium {
    display: inline-block;
    padding: 10px 10px;
  }
}

.main-navigation a:hover {
  text-decoration: none;
  color: #646464;
}

