.page-banner {
  height: 100vh;
  padding: 20px 0 40px 0;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  @mixin atSmall {
    padding: 100px 0 60px 0;
    background-size: cover;
    background-position: right;
  }

  &--description {
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    color: #FFF;
    text-align: center;
    @mixin atSmall { 
      font-size: 55px;
      line-height: 58px;
    }
  }

  &__overlay {
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    top:0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @mixin atSmall {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
    }
}

  &__content {
    position: relative;
    z-index: 2;
  }


  &__bg-image {
    opacity: .33;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }


}

.button--place {
  float: left;
}
