.site-header {
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  position: absolute;
  @mixin atMedium { 
    position: fixed;
    padding: 20px 100px;
  }

  &__menu {
    visibility: hidden;
    position: absolute;
    background-color: black;
    left: 0;
    right: 0;
    top: -20px;
    padding-top: 58px;
    opacity: 0;
    transform: translateY(-20%);
    transition: opacity .3s ease-out, visibility .3s ease-out, transform .3s ease-out;
    padding-bottom: 20px;

    &--active {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
      padding-top: 100px;
      text-align: center;
    }

    @mixin atMedium {
      visibility: visible;
      opacity: 1;
      transform: translateY(0) scale(1);
      position: static;
      background-color: transparent;
      float: right;
      padding-top: 0;
      padding-bottom: 0;
      top: 0;
    }

  }

  &__menu-trigger {
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
    z-index: 10;
    top: 12px;
    right: 46px;

    @mixin atSmall {
      top: 5px;
      font-size: 1.4rem;
    }

    @mixin atMedium {
      display: none;
    }
  }
}

header .logo {
  font-size: 12px;
  color: #fff;
  font-weight: 100;
  line-height: 4px;
  letter-spacing: 1px;
}

header .logo:hover {
  text-decoration: none;
  color: white;
}


  header ul li a {
    padding: 0 15px;
    font-size: 13px;
    letter-spacing: 0px;
    transition: 0.5s;
  } 
@mixin atMedium {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    transition: 0.6s;
    padding: 40px 100px; 
    height: 100px;
  }
  header .logo {
    font-size: 16px;
    color: #fff;
    font-weight: 100;
    line-height: 18px;
    letter-spacing: 1px;
  }

  header ul {
    display: flex;
    postion: relative;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  header ul li a {
    padding: 0 15px;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 14px;
    letter-spacing: 0px;
    transition: 0.5s;
    font-weight: 500;
  }
  header.sticky {
    background: #fff;
    padding: 10px 100px 10px 100px;
    height: 70px;
  }
  header.sticky ul li a {
    color: #000;    
  }
  header.sticky .logo {
    font-size: 12px;
    color: #000;
    font-weight: 100;
    line-height: 2px;
    letter-spacing: 1px;
  }
  header.sticky .logo:hover {
    color: #000;
  }
  section p {
    color:#fff;
  }
  header.sticky .school-logo-text {
    z-index: 20;
    margin: 0;
    padding: 3px 9px;
  }
}
