.site-footer {
  padding: 3.5rem 0 0rem 0;
  background-color: #27282a;
  @mixin atSmall { 
    padding: 6rem 0 0 0;
  }

  p {
    margin: 0px;
    padding: 10px;
  }

  &__inner {
    border-bottom: 1px solid #646464;
    padding-bottom: 2rem;
  }

  &__link {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    @mixin atSmall {
      font-size: 14px;
    }
  }

  &__link:hover {
    color: #646464;
    opacity: 0.8;
    text-decoration: underline;
  }

  &__col-one {

    @mixin atXSmall { 
      display:flex;
      justify-content: center;
    }
    @mixin atSmall { 
      display:flex;
      justify-content: center;
    }
    @mixin atMedium {
      text-align: left;
      width: 25%;
      float: left;
    }
  }
  &__col-one_links {
    color: #fff;
  }

  &__col-two {
    font-size: 12px;
    display: block;
    padding-bottom: 3px;
    color: #000;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 2px;
    width: 100%;
    padding-top: 30px;
    text-align: center;
   @mixin atMedium {
      width: 25%;
      float: left;
      padding-top: 0px;
      text-align: left;
    }
  }

  &__col-three {
    font-size: 12px;
    display: block;
    padding-bottom: 3px;
    color: #000;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 2px;
    width: 100%;
    text-align: center;

    @mixin atMedium {
      padding-bottom: 30px;
    }
  
  @mixin atMedium {
    width: 25%;
    float: left;
   }
   ul {
     padding:0;
   }
  }
  &__col-four {
    color: #000;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    
    @mixin atMedium {
      padding-bottom: 30px;
    } 

    ul {
      padding:0;
    }
  } 
  .footer-navigation li{
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .footer-navigation a {
    font-size: 12px;
    display: block;
    padding-bottom: 3px;
    color: #fff;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 2px;

  }
  .footer-navigation a:hover {
    color: #646464;
    opacity: 0.8;
    text-decoration: underline;
  }

  &--title {
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 0px;
    color: #fff;
    margin: 20px 0px;
    @mixin atSmall {
      font-size: 1.2rem;
      padding-bottom: 20px;
      margin: 0;
    }
  } 
}

.site-footer__under__inner {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  height: 100px;

  p {
    margin: 0;
    cursor: pointer;
  }
  
  &__col-one {
    font-size: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      color: #fff;
      text-decoration: none;
    }
  }

}

ul {
  list-style: none;

  .social-icons {
    padding-bottom: 10px;
    padding-top: 10px;
    a {
      font-size: 16px;
      color: #fff;
    }
    a:hover {
      color: #646464;
    }
  }
}

.site-footer__col-one .logo {
  font-size: 12px;
  color: #fff;
  font-weight: 100;
  line-height: 14px;
  letter-spacing: 1px;
}

.site-footer__col-one a {
  text-decoration: none; 
}
.site-footer__col-one a:hover {
  text-decoration: none; 
} 
 
.site-footer__under__inner__col-one a:hover {
  text-decoration: none; 
  color: #bea064;
}

@mixin atMedium { 
  .site-footer__col-one .logo {
    font-size: 16px;
    color: #fff;
    font-weight: 100;
    line-height: 18px;
    letter-spacing: 1px;
  }
}

